@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    width: 100%;
    box-sizing: border-box;
    background-color: #F3F5F9;
    font-family: 'Montserrat', sans-serif;
}

main {
    margin-top: 80px;
}

h1{
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
}

.container-principal {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
    margin-left: 5%;
    border-radius: 7px;
    background-color: #FFFFFF;
}

.info-anime {
    width: 96%;
    height: auto;
    margin: 2%;
    box-shadow: 1px 1px 5px #D1D1D1;
    border-radius: 7px;
    box-sizing: border-box;
}

.rows-head {
    width: 100%;
    height: auto;
    border-radius: 7px 7px 5px 5px;
    background-color: #DC7772;
    box-shadow: 1px 1px 5px #D1D1D1;
    color: #FFFFFF;
    font-size: 120%;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 20%;
    padding: 1% 15px;
}

.rows-white {
    width: 100%;
    height: auto;
    font-size: 100%;
    padding: 1% 15px;
    font-size: 100%;
}

.rows-dark {
    width: 100%;
    height: auto;
    background-color: #FAEBD7;
    padding: 1% 15px;
    font-size: 100%;
}

.texto {
    padding: 3%;
    text-align: justify;
    line-height: 1.8rem;
}

.links-lista {
    text-decoration: none;
    color: #000000;
    margin-left: 12px;
    line-height: 1.6rem;
}

.links-lista:hover {
    color: #DC7772;
    font-size: larger;
    transition: .3s ease;
}

/* ----------lateral------------ */

.container-lateral {
    width: 32%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    border-radius: 7px;
    background-color: #FFFFFF;
}

.blocos-laterais {
    max-width: 96%;
    height: auto;
    margin: 2%;
    box-shadow: 1px 1px 5px #D1D1D1;
    border-radius: 7px;
}

.rows_head-lateral {
    width: 100%;
    height: auto;
    border-radius: 7px 7px 0px 0px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 5px #D1D1D1;
    color: #DC7772;
    font-size: 100%;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 20%;
    padding: 2% 15px;
    border-bottom: 3px solid #DC7772;
}

.flag_count-container {
    max-width: 100%;
    height: auto;
    padding: 3%;
    box-sizing: border-box;
}
