@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    width: 100%;
    box-sizing: border-box;
    background-color: #F3F5F9;
    font-family: 'Montserrat', sans-serif;
}

main {
    margin-top: 80px;
}

h1,h2 {
    margin: 0;
    padding: 0;
}

.subtitulos {
    margin-top: 20px;
    margin-left: 3%;
    font-size: 16pt;
}

.--subtitulos {
    margin-top: 10px;
    margin-left: 3%;
    font-size: 14pt;
    color: #232A2F;
}

.container {
    display: flex;
    flex-direction: row;
}

.container-principal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 90%;
    margin-left: 5%;
    border-radius: 7px;
    background-color: #FFFFFF;
}

.info-anime {
    width: 96%;
    height: auto;
    margin: 2%;
    box-shadow: 1px 1px 5px #D1D1D1;
    border-radius: 7px;
    box-sizing: border-box;
}

.rows-head {
    width: 100%;
    height: auto;
    border-radius: 7px 7px 5px 5px;
    background-color: #DC7772;
    box-shadow: 1px 1px 5px #D1D1D1;
    color: #FFFFFF;
    font-size: 120%;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 20%;
    padding: 1% 15px;
}

.texto {
    padding: 0.8% 3%;
    text-align: start;
    line-height: 1.8rem;
    font-size: 12pt;
}