:root {
    --darker: #232A2F;
    --white: #FFFFFF;
    --cor-principal: #DC7772;
}

.arrow {
    position: relative;
}

.arrow-up {
   display: none;
}

.box-footer {
    width: 100%;
    height: auto;
    background-color: var(--darker);
    margin-top: 25px;
    border-top: 2px solid var(--cor-principal);
    box-shadow: -0.5px 1px 3px 1px var(--darker);
}

.box-ancoras {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.ancoras-footer {
    color: var(--white);
    margin-top: px;
    padding: 10px 0;
    font-weight: 400;
}

.ancoras-footer:hover {
    color: var(--cor-principal);
    transition: 0.3s ease;
}

.text-footer {
    margin-top: 5px;
    padding-bottom: 10px;
    font-size: 10pt;
    color: var(--white);
    letter-spacing: 0.2px;
    text-align: center;
    font-weight: 400;
}

@media screen and (max-width: 500px) {
    .arrow-up {
        display: block;
        width: 1.6em;
        box-shadow: 0px 0px 3px var(--darker);
        background-color: var(--white);
        border-radius: 30px;
        position: fixed;
        right: 2.8rem;
        bottom: 3rem;
        z-index: 10;
    }    
}