:root {
    --sombra:#D1D1D1;
    --white: #FFFFFF;
    --cor-fundo: #F3F5F9;
    --cor-principal: #DC7772;
    --light-brown: #D1AB7D;
    --dark: #405967;
    --darker: #232A2F;
    --black: #000;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    background-color: var(--light-brown);
    padding: 2rem;
    opacity: 0.1;
    width: .8vw;
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor-principal);
    border-radius: 7px;
    padding: 2em;
    width: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark);
}

.imagem-capa {
    width: 100%;
    height: 90px;
    border: 1px solid var(--dark);
    border-radius: 3px;
}

.navegacao {
    background:#ffff;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    box-shadow: 1px 1px 5px var(--black);
    opacity: 0.9;
    z-index: 30;
}

.titulo {
    color: var(--light-brown);
    font-size: 1.3rem;
    margin: 13px 0px 5px 30px;
    font-weight: 600;
    position: absolute;
}

.lista-item {
    float: right;
    margin-right: 20px;
}

.item {
    display: inline-block;
    line-height: 3.2em;
    margin: 0 2px;
}

.search {
    display: inline-block;
    line-height: 0;
    background-color: var(--light-brown);
    border-style: none;
    padding: 7px;
    border-radius: 5px;
    outline: none;
}

.search::placeholder {
    font-style: italic;
    color: var(--white);
}

.search:hover {
    box-shadow: .5px .5px 5px var(--light-brown);
}

.link {
    color: var(--darker);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    padding: 7px 5px;
}

.link:hover {
    background-color:#FAEBD7;
    transition: 0.3s;
    border-radius: 5px;
}

.icon {
    display: none;

}

.icons {
    width: 1em;
    float: right;
}

.checkbtn {
    float: right;
    margin-right: 20px;
    cursor: pointer;
}

#check{
    display: none;
}

@media screen and (max-width: 830px) {
    .item {
        font-size: 12pt;
    }

    .icon {
        display: block;
        width: 1.8rem;
        margin-top: .5rem;
    }

    .icon:active {
        background-color: var(--white);
        box-shadow:  4px var(--white);
        border-radius: 5px;
        transition: 0.1s linear;
        opacity: 0.2;
    }

    .checkbtn{
        display: block;
    }

    .lista-item{
        position: fixed;
        width: 100%;
        height: 100%;
        background: var(--cor-principal);
        top: 50px;
        right: -110%;
        transition: all 0.5s;
        text-align: center;
        margin-right: 10%;
        padding-right: 60%;
        opacity: 0.9;
        filter: blur(0.5);
    }

    .item {
        display: block;
        line-height: 60px;
    }

    .link {
        font-size: 12pt;
        font-weight: 500;
        letter-spacing: 1px;
        color: var(--white);
    }

    .link:hover {
        background: #E0E2E2;
        width: max-content;
        color: var(--dark);
    }

    #check:checked ~ .lista-item {
        right: -70%;
    }

    .search {
        margin-left: 6%;
        line-height: 0;
        background-color: var(--white);
        width: 90%;
    }

    .search::placeholder {
        color: var(--darker);
        font-weight: 500;
    }
}

@media screen and (max-width: 413px) {
    .link {
        font-size: 8pt;
    }

    .search::placeholder {
        font-size: 8pt;
    }
}