*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.imagem-capa {
    width: 100%;
    height: 90px;
    border: 1px solid #405967;
    border-radius: 3px;
}

.navegacao {
    background:#ffff;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    box-shadow: 1px 1px 5px #000000;
    opacity: 0.9;
}

.titulo {
    color:#D1AB7D;
    font-size: 16pt;
    margin: 13px 0px 5px 30px;
    font-weight: 600;
    position: absolute;
}

.lista-item {
    float: right;
    margin-right: 20px;
}

.item {
    display: inline-block;
    line-height: 55px;
    margin: 0 2px;
}

.link {
    color: #232A2F;
    text-transform: uppercase;
    font-size: 11pt;
    padding: 7px 5px;
}

.link:hover {
    background-color:#FAEBD7;
    transition: 0.3s;
    border-radius: 5px;
}

.icon {
    display: none;
}

.checkbtn {
    float: right;
    margin-right: 20px;
    cursor: pointer;
}

#check{
    display: none;
}

@media screen and (max-width: 780px) {
    .item {
        font-size: 12pt;
    }

    .icon {
        display: block;
        height: 45px;
        margin-top: 3px;
    }

    .icon:active {
        background-color: white;
        box-shadow:  4px white;
        border-radius: 5px;
        transition: 0.1s linear;
        opacity: 0.2;
    }

    .checkbtn{
        display: block;
    }

    .lista-item{
        position: fixed;
        width: 100%;
        height: 100%;
        background: #DC7772;
        top: 50px;
        right: -110%;
        transition: all 0.5s;
        text-align: center;
        margin-right: 10%;
        padding-right: 60%;
        opacity: 0.9;
        filter: blur(0.5);
    }

    .item {
        display: block;
        line-height: 60px;
    }

    .link {
        font-size: 12pt;
        font-weight: 500;
        letter-spacing: 1px;
        color: #ffff;
    }

    .link:hover {
        background: #E0E2E2;
        width: max-content;
        color: #405967;
    }

    #check:checked ~ .lista-item {
        right: -70%;
    }
}

@media screen and (max-width: 413px) {
    .link {
        font-size: 8pt;
    }
}